* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
  background-color: #333;
  overflow: hidden;
  height: 100%;
}

.sign-page {
    margin: auto;
    text-align: center;
    padding: 200px 475px;
    background:#544349;
    color: white;
}

.signup-container {
    background-color: #f3e7d9;
    padding: 20px;
    margin-bottom: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.signup-container h2 {
    color: #162427;
}

.signup-container input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

.signup-container button {
    width: 100%;
    padding: 12px;
    background-color: #145d90;
    color: white;
    border: none;
    border-radius: 5px;
}